<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='client.css') }}">
    <title>Client Information</title>
</head>
<body>
    <div id="info">
        <div id="systemInfo">
            <h1>Operating System on Client: {{ operatingClientSystem }} </h1>
            <h1>Operating System on Sever: {{ operatingServerSystem }}</h1>
        </div>
        <div id="itemsOnServer">
            
        </div>
    </div>
    <div id="links">
        <a href="/">Hub</a>
        <br>
        <a href="/client">Client things. (YOU ARE HERE)</a>
    </div>
</body>
</html>